<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" style="height: 100px;">
        <button class="btn btn-large btn-block btn-info height-home-btn" type="button" routerLink="/user">User</button>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <button class="btn btn-large btn-block btn-info height-home-btn" type="button" routerLink="/item">Item</button>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <button class="btn btn-large btn-block btn-info height-home-btn" type="button" routerLink="/login">Shopping Cart</button>
    </div>
</div>